---
import { getEntry, render } from 'astro:content';
import Page from '../layouts/Page.astro';

const entry = await getEntry('pages', 'acerca');
const { Content } = await render(entry);
---
<Page title={entry.data.title} description={entry.data.description}>
	<h1>Acerca</h1>
	<Content />
</Page>
