---
import { getEntry, render } from 'astro:content';
import Page from '../layouts/Page.astro';

const entry = await getEntry('pages', 'libros');
const { Content } = await render(entry);
---
<Page title={entry.data.title} description={entry.data.description}>
	<h1>Libros</h1>
<div class="libros"><Content /></div>
</Page>
