<footer>
	<p>© 2026 José Manuel Grau Navarro</p>
	<p>
		<a href="https://x.com/jmgraunavarro" target="_blank" rel="noopener">X</a>
		·
		<a href="https://lotrives.substack.com/subscribe" target="_blank" rel="noopener">Newsletter</a>
		·
		<a href="/rss.xml">RSS</a>
	</p>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	footer a {
		color: rgb(var(--gray));
		text-decoration: underline;
	}
</style>
